*{
    margin: 0;
    padding: 0;
}
#clockContainer{
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    border: 2px solid red;
    margin: auto;
}